.pagetitle{background-repeat:repeat-y;}
.EXAMPLE .cn_txt, .Error .cn_txt,.cn_txt {
	display:none;
}

.lm5ppMenu_title .cn_title {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
     opacity: 0; 
}

.lm5ppMenu_title .en_title {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
    opacity: 1; 
}
